# Tipos de datos - Datos numéricos

La función type, que funciona de forma parecida a print, nos permitirá identificar el tipo de dato de un valor:

`type(valor)`

In [5]:
print(type(1))

<class 'int'>

`nombre_variable = "valor"`

Terminal interactiva -> `python` 

`>>> 1variable = 1`

`>>> mas@ = 1`

`>>> class = 1`

Es recomendable utilizar nombres de variables que contengan un contexto claro y describan lo que representan:

In [ ]:
# No recomendable
x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)

437.5

In [8]:
horas = 35.0
tarifa = 12.50
salario = horas * tarifa
print(salario)

437.5

## Datos numéricos

### Números enteros

#### Integers (int)

In [9]:
# Valor 10 Entero
print (10)
print ( type (10) )

10
<class 'int'>

In [10]:
# Variable 100 Entero
variable = 100
print (variable)
print ( type (variable) )

100
<class 'int'>

In [11]:
# Variable 20 Entero
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )

20
<class 'int'>

Declarando números enteros en otras bases numéricas:

In [12]:
# Valor 10 en base decimal
print ("Base decimal")
print (10)
# Valor 10 en binario
print ("Base binaria")
print (0b1010)
# Valor 10 en octal
print ("Base octal")
print (0o12)
# Valor 10 en hexadecimal
print ("Base hexadecimal")
print (0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

In [13]:
# Entero con 60 dígitos
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print (type (variable_3))

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

### Números con punto flotante

#### Floating - float

In [14]:
# Valor 0.5 Flotante
print (0.5)
print ( type (0.5) )

0.5
<class 'float'>

In [15]:
# Variable 0.100546 Flotante
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

0.100546
<class 'float'>

In [16]:
# Variable 1 Flotante
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )

1.0
<class 'float'>

Puedes usar notación científica con la letra **e** y el exponente:

In [17]:
# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

Precisión máxima con 17 decimales:

In [18]:
# Precisión de 17 decimales
variable_5 = 0.9999999999999999
print(variable_5)
print ( type (variable_5) )

0.9999999999999999
<class 'float'>

## Operaciones aritméticos

In [7]:
a = 10
b = 3

# Suma
print ("Suma")
print (a + b)

# Resta
print ("Resta")
print (a - b)

# Multiplicación
print ("Multiplicación")
print (a * b)

# División
print ("División")
print (a / b)

# Potencia
print ("Potencia")
print (a ** b)

# Módulo o residuo
print ("Módulo o residuo")
print (a % b)

# División entera
print ("División entera")
print (a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

## Ejercicio de clase

Ejercicio 1 - Un contador tiene 300 minutos y se le suman 3600 segundos, ¿Cuántas horas en total son?

In [8]:
tiempo_minutos = 300
tiempo_segundos = 3600

# Convertir segundos a minutos
segundos_a_minutos = tiempo_segundos / 60

# Sumar ambos tiempos en minutos
tiempo_total_minutos = tiempo_minutos + segundos_a_minutos

# Convertir el total de minutos a horas
tiempo_total_horas = tiempo_total_minutos / 60

print("Tiempo total en horas:", tiempo_total_horas)

Tiempo total en horas: 6.0

## Operadores de comparación

In [19]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

Operadores de comparación
False
False
True
True
True
False

In [ ]:
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)